.sign-up-page {
  background-image: url('../../resource/login_bg.png');
  background-size: cover;
  background-position: center;
  height: 100vh; // 视口高度
  width: 100%;
  display: flex;
  flex-direction: column;
  .login-form {
    position: relative;
    margin-top: 288px;
    margin-left: 40px;
    margin-right: 40px;
    .login-form-input {
      border-radius: var(--semi-border-radius-8);
    }
    .login-button {
      margin-top: 132px;
      width: 90px;
      height: 90px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      .semi-icon{
        font-size:40px;
      }
    }
    .semi-button-disabled {
      opacity: .7;
    }
  }
}
