.profile-page {
  background: url('../../resource/my_post_content_bg.png') center/cover no-repeat;
  height: 100vh;
  position: relative;
  .semi-avatar {

    border-radius: 50%;
  }
  .headtab {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    /* 用于垂直居中对齐 */
  }
  .empty-space {
  height: 101px;
  width: 100%;
  /* 或者设置一个固定的宽度 */
  background-color: transparent;
}
}


.light-scrollbar {
  // padding-top: 120px;
  padding: 0px;
  /* 调整适当的值，以避免内容被固定头部遮挡 */
  overflow-y: auto;
  /* 允许垂直滚动 */
  height: calc(100vh - 230px);
  /* 通过减去头部高度来确定滚动区域的高度 */
}

.headtab div {
  font-family: 'PingFang SC';
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.light-scrollbar {

    overflow: 'auto';
    border: '1px solid var(--semi-color-border)';
    padding: 10;
}


.profile-head {}