.bg{
  .head {//?
    display: inline-flex;
    //width: 350px;
    padding: 12px var(--semi-border-radius-circle, 16px) 12px 20px;

    justify-content: space-between;
    align-items: center;
    .semi-button-size-small {
      width: 70px;
      height: 32px;
    }
  }



  

  .mainContent{
    margin: 20px;
    .semi-input-textarea{
      padding-left: 0;
    }
    // 三等分 重写
    .input{

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      border-radius: unset;
      border-color: unset;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-bottom: 32px;
      color-input_default-border-focus: rgba(255, 0, 0, 0);

    }
    .semi-upload-file-list-main{
      max-width: 393px;

      .semi-upload-picture-file-card img{
        border-radius: 4px;
      }
      .semi-upload-picture-file-card{
        border-radius: 4px;
      }
    }
    .semi-input-textarea-wrapper{
      border-color: white;
    }
    .semi-upload-picture-add{
      border-radius: 12px;


    }
  }
}





