.post {
  background: white;
  padding:20px;
  border-radius: 12px;
  .content{
    font-weight: 400;
    color: var(--semi-color-text-1);
    padding:0px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .interact {
    margin-top: 16px;
    display: flex;
    justify-content: center; /* 水平居中对齐 */
    align-items: center;
    .semi-space{
      margin-right: 12px;
    }
    .semi-space-tight-vertical{
      gap:4px;
    }
    .time {
      margin-left: auto; /* 最后一个元素靠最右边 */
    }
    * {
      font-weight: 400;
      color:var(--semi-color-text-name);
    }
  }
}