.post {
  display: block;
  background: white;
  padding:20px;
  border-radius: 12px;
  margin-bottom:16px ;
  .avatar-space {
    margin-bottom: 12px;
  }
  .content{
    font-weight: 400;
    color: rgba(10, 0, 1, 0.8);
    padding:0;
    margin-bottom: 12px;
  }
  .interact {
    margin-top: 16px;
    display: flex;
    justify-content: center; /* 水平居中对齐 */
    align-items: center;
    * {
      font-weight: 400;
      color:rgba(24, 0, 1, 0.4);
      background-color: transparent;
    }
    .semi-space{
      margin-right: 12px;
    }
    .semi-space-tight-vertical{
      gap:4px;
    }
    .semi-icon-like_heart {
      * {
        color: rgba(255, 72, 2, 1)
      }
    }
    .time {
      margin-left: auto; /* 最后一个元素靠最右边 */
    }
  }
}