.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 创建三列 */
  gap: 12px; /* 设置图片之间的间隙 */

  .image-item {
    position: relative;
    width: 100%;
    padding-top: 100%; /* 使用padding-top以百分比形式设置高度，保持正方形 */
    overflow: hidden; /* 超出的内容将被隐藏，用于裁剪 */
 

    .image {
      border-radius: 0;
      width: 100%; /* 让图像宽度自动调整以保持纵横比 */
      height: 100%; /* 让图像高度自动调整以保持纵横比 */
      position: absolute; /* 绝对定位，用于水平垂直居中 */
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); /* 水平垂直居中 */

      .semi-image-img-preview {
        object-fit: cover;
        width: 100%; /* 让图像宽度自动调整以保持纵横比 */
        height: 100%; /* 让图像高度自动调整以保持纵横比 */
        border-radius: 12px; /* 添加圆角 */
      }
    }
  }
}
.semi-image-preview-group{
  margin-top: 20px;
}

/* 单独处理只有1张图片 */
.container-1 {
  grid-template-columns: repeat(2, 1fr);
}

/* 单独处理只有3，4张图片，第3和第4张图片，将它们放在第二行 */
.container-less-than-5 .image-item:nth-child(3),
.container-less-than-5 .image-item:nth-child(4) {
  grid-row-start: 2; /* 第二行开始 */
  grid-column-start: auto; /* 第一列开始 */
}




