.notif-page {
  * {
    padding: 0;
    margin: 0;
    border: none;
  }
  background-image: url('../../assets/Notifications/backgroundImg.png');
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-attachment: fixed;

  .notif-header {
    position: fixed;
    z-index: 999;
    width: 100%;
    margin-top: 5.8%;
    height: 6.5%;
    display: flex;
    color: rgba(10, 0, 1, 1);
    justify-content: space-between;
    align-items: center;
  }

  .notif-title {
    font-weight: 600;
    font-size: 20px;
  }

  .notif-iconchevronleft {
    width: 16px;
    height: 16px;
    vertical-align: center;
    margin-left: 5.1%;
  }

  .notif-content {
    margin-top: 14.2vh;
    background-color: transparent;
    height: 81.8vh;
    overflow: scroll;
    padding-bottom:5vh;
  }

  .semi-table-row {
    height: 74px;
    width: 100%;
  }
  .semi-table-thead .semi-table-row {
    height: 0;
  }

  .semi-table-row-head {
    background-color: transparent !important;
    border: none !important;
  }

  .semi-table-tbody * {
    background-color: transparent;
    border: none !important;
  }

  .semi-table-thead * {
    background-color: transparent;
  }

  .notif-column.semi-table-row-cell {
    padding: 0 5.1% 0 5.1%;
  }


  .notif-newnotif {
    align-self: center;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: red;
    margin-left: 20px;
  }

  .notif-read {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: transparent;
    margin-left: 20px;
  }

  .notif-avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

  .notif-username {
    font-size: 16px;
    font-family: "PingFang SC";
    font-weight: 600;
    line-height: 20px;
  }

  .notif-notifcontent {
    font-weight: 400;
    font-size: 14px;
    max-width: 40vw;
    height: 20px;
  }

  .notif-postpreview {
    background-color: rgb(205,250,250);
    height: 50px;
    width: 50px;
    border-radius: 8px;
    font-weight: 400;
    color: rgba(24, 0, 1, 0.4);
    line-height: 16px;
    font-size: 12px;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 最大行数，根据需要调整 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-right: 20px;
  }

  .notif-sendtime{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px !important;
  }

  .notif-collapse{
    height:74px;
  }

  .notif-placeholder{
    width: 16px;
    margin-right: 16px;
  }
}
.notif-outer-layer{
  width: 100%;
  height: 100%;
  .notif-load-err{
    width: 100%;
    position: fixed;
    bottom:50%;
    text-align: center;
    color:gray;
  }
}