body {
    margin: 0;
    padding: 0;
}

/* 基本 .page 样式 */
.page {
    width: 100%;
    margin: 0 auto; /* 水平居中 */
}

/* 针对宽度大于 500px 的情况 */
@media (min-width: 500px) {
    .page {
        max-width: 400px; /* 最大宽度为 400px */
        margin: 0 auto; /* 水平居中 */
    }
}